@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";

body {
    background: url('./logo\ best.svg');
    background-color: black;
    background-size: 50vh;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
}

/* See App.js for CSS variables */

.head-sticky {
    background: black;
    position: sticky;
    top: -120px;
    z-index: 1250;
}

.head-static {
    display: flex;
    height: 120px;
    padding: 0;
    align-items: center;
}

.head-avatar {
    height: 90px;
    margin-left: 2em;
    margin-right: 1em;
}

.head-head {
    max-height: 60px;
    max-width: calc(90vw - 90px - 3em);
    margin: auto;
}

.layout-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-side,
.appbar-title {
    flex-grow: 1;
}

.layout-side {
    padding-left: var(--layout-left-padding);
}

.appbar-root {
    z-index: var(--z-index-appbar) !important;
}

.drawer-paper {
    width: var(--drawer-width);
    flex-shrink: 0;
}

.drawer-container,
.drawer-container .MuiListItemIcon-root {
    color: var(--secondary);
    fill: var(--secondary);
}

.footer {
    padding: 4em 0;
    background-color: #ac1900;
    text-align: center;
}

.footer h3 {
    color: var(--secondary);
}

.avatar {
    margin: 1em;
}

.avatar.dashboard {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.block-button {
    display: block;
    margin: 1em 0;
}

.paper {
    padding: 2em;
    margin: 2em 0;
}

.paper.background {
    background-color: var(--paper);
}

.paper.justify {
    text-align: justify;
}

.paper.table {
    padding: 0;
}

.ceo {
    width: 500px;
    max-width: 100%;
    margin: 1em 0;
}

.holdout {
    height: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.holdout:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: var(--bg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.paper.center,
.paper.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.paper-loading {
    min-height: 10em;
}

a {
    color: #ff833a
}

.gallery-slider {
    width: 100%;
    position: relative;
}

.gallery-slider>* {
    position: absolute;
    width: 100%;
}

.gallery-slider img {
    object-fit: contain;
}

.gallery-slider.company,
.gallery-slider.company img {
    height: 1100px;
    max-height: 100vw;
}

.gallery-slider.gallery,
.gallery-slider.company {
    margin-bottom: 50px;
}

.gallery-slider.gallery,
.gallery-slider.gallery img {
    height: 500px;
}

.gallery-slider.compact,
.gallery-slider.compact img {
    height: 400px;
}

.slick-dots li button:before {
    color: white;
}

.gallery-slider.header {
    background: black;
}

.gallery-slider.header,
.gallery-slider.header img {
    height: 400px;
}

.marquee {
    width: 100%;
    background-color: black;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    margin: 0.5em;
    animation: marquee 15s linear infinite;
}

.marquee .title {
    color: #ff833a;
    font-weight: bold;
}

.marquee .separator {
    display: inline-block;
    width: 200px;
}

.cargo {
    width: 100%;
    margin: 3em 0;
}

.cargo svg {
    height: 100px;
    width: 100px;
    margin: 1em;
}

.cs-item {
    width: 100%;
}

.cs-avatar {
    border-radius: 300px;
    height: 100px;
    margin-right: 1em;
    width: 100px;
    object-fit: cover;
    border: 3px solid var(--primary);
}

.cs-name {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary);
}

.cs-title {
    color: white;
    background: var(--secondary);
    border-radius: 300px;
    padding: 0.3em 1em;
    font-size: 0.8em;
}

.cs-float {
    z-index: 3000;
    position: fixed;
    bottom: 8px;
    right: 12px;
}


.cs-float>div {
    right: 0;
    bottom: 60px;
    top: inherit !important;
    left: inherit !important;
}

.cs-container {
    width: 90vw;
    max-width: 500px;
    max-height: calc(100vh - 60px);
    background: #111;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    text-align: center;
    padding-top: 0.5em;
    overflow: auto;
}

.trucks-thumb {
    background-color: white;
    width: calc(100% - 1em);
    margin-right: 1em;
    margin-bottom: 1em;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

@media (min-width: 600px) {
    .sidebar {
        min-width: 250px;
    }
}